<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Treats</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="wrapper">
        <!-- Sidebar Scoreboard -->
        <aside class="scoreboard">
            <h2>🏆 Status</h2>
            <ul id="scoreList">
                <% let usersByPoints = users.sort((a, b)=>b.experiencePoints - a.experiencePoints) %>
                <% for (let i = 0; i < usersByPoints.length; i++){ %>
                <li data-user="<%= usersByPoints[i].name %>">
                    <%= usersByPoints[i].name %>: 
                    <span 
                        class="user-score" 
                        id="score-<%= usersByPoints[i].name %>" 
                        data-spending="<%= usersByPoints[i].spendingPoints %>">
                        <%= usersByPoints[i].experiencePoints %>
                    </span> XP
                </li>
                <% if (usersByPoints[i].weeklyGoal) { %>
                <div class="weekly-progress">
                    <p>Weekly Goal</p>                 
                    <div class="progress-container">
                        <div class="progress-bar" style="width: <%= Math.min(100, (usersByPoints[i].weeklyPoints / usersByPoints[i].weeklyGoal) * 100) %>%"></div>
                    </div>
                    <p class="progress-percentage"><%= usersByPoints[i].weeklyPoints %> / <%= users[i].weeklyGoal %> XP</p>
                </div>
                <% } %>
                <% } %>
            </ul>
            <!-- Add User Section -->
            <div class="add-user">
                <input type="text" id="newUserInput" placeholder="Enter name">
                <button id="addUserBtn">Add User</button>
            </div>
        </aside>

        <!-- Main Content -->
        <main class="content">
            <h1>Job Search Buddy</h1>

            <!-- User Selector -->
            <div class="user-selector">
                <label for="userSelect">Select User:</label>
                <% let usersByName = users.sort((a, b) => a.name.localeCompare(b.name)) %>
                <select id="userSelect">
                    <option disabled selected></option>
                    <% for (let i = 0; i < usersByName.length; i++){ %>
                    <option value="<%= usersByName[i].name %>"><%= usersByName[i].name %></option>
                    <% } %>
                </select>
            </div>

            <!-- Action Buttons -->
            <div class="buttons">
                <% actionTypes.filter(actionType => actionType.points > 0).forEach(actionType => { %>
                    <button id="<%= actionType._id %>" 
                        class="earn-button action-type"
                        data-name="<%= actionType.name %>"
                        data-points="<%= actionType.points %>">
                        <%= actionType.name %>
                        <span class="point-value">+<%= actionType.points %> XP</span>
                    </button>
                <% }) %>
            </div>

            <!-- History -->
            <div class="history">
                <h2>📅 Recent Actions</h2>
                <% if (actions && actions.length> 0) { %>
                <ul id="historyList">
                    <% for (let i = 0; i < actions.length; i++){ %>
                        <li><%= actions[i].user.name %>: <%= actions[i].name %> (<%= actions[i].formattedDate %>)</li>
                    <% } %>
                </ul>
                <% } else { %>
                    <div class="no-actions-message">
                        There are no recent actions
                    </div>
                    <% } %>

                <a href="/history" class="history-button">View Full History</a>

            </div>
        </main>
        <!-- Popup -->
        <div id="popup" class="popup">
            <div class="popup-content">
                <p id="popupMessage"></p>
                <p id="dollarValue" class="dollar-value"></p> <!-- Added the small dollar value text -->
                <button id="popupBtn" class="close-btn">Close</button>
            </div>
        </div>
        <!-- Not Enough Points Modal -->
        <div id="notEnoughPointsModal" class="modal">
            <div class="modal-content">
                <h2>Oops!</h2>
                <p id="notEnoughPointsMessage"></p>
                <button id="closeNotEnoughPointsBtn">Close</button>
            </div>
        </div>

    </div>

    <script src="script.js"></script>
</body>

</html>